<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body-profile">
            <div class="d-flex flex-column align-items-center text-center">
              <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, width: 200, height: 200, crop: :fill, gravity: :face, class: "rounded-profile" %>
              <% else %>
              <%= image_tag "napbaby.webp", alt: "nap baby", style: "object-fit: cover", class: "rounded-profile" %>
              <% end %>
              <div class="mt-3">
                <h4> <%= @user.username %> </h4>
                <% if @user == current_user %>
                <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary m-3" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3 details-profile">
          <div class="card-body-profile">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name  </h6>
              </div>
              <div class="col-sm-9">
                <%= @user.first_name %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9">
                <%= @user.last_name %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9">
                <%= @user.email %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Bio</h6>
              </div>
              <div class="col-sm-9">
                <%= @user.bio %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 class="card-title">Reviews</h5>
      <div class="card-body">
        <% @reviews_from_guests.each do |review| %>
        <div class="d-flex justify-content-between">
          <p class="card-text">"<%= review.content %>"</p>
          <div>
            <% review.rating.times do %>
            <i class="fas fa-star"></i>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
