<div class="banner my-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ketteringhealth.org/mediaroom/files/art-of-napping.png);">
  <div class="container">
    <h1>Welcome to <strong>Napbuddies</strong>!</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="cards-index-columns">
        <% @events.each do |event| %>
          <div class="card card-index-sm" style="">
            <%= link_to " ", event_path(event), class: 'img-link' %>
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, width: "100%" %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <% end %>
            <div class="card-body position-relative p-0">
              <h3><%= event.title %></h3>
              <p class="card-text"><%= event.description.slice(0..50) %>...</p>
              <% if event.user.photo.attached? %>
                <%= cl_image_tag event.user.photo.key, class: 'avatar-card avatar' %>
              <% else %>
                <img class="avatar-card avatar" src="https://ketteringhealth.org/mediaroom/files/art-of-napping.png" class="card-trip-user avatar-bordered" />
              <% end %>
            </div>
          </div>
          <% end %>
      </div>
      </div>
      <div class="col-6">
        <div id="map"
          style="width: 110%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
