<div class="banner my-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ketteringhealth.org/mediaroom/files/art-of-napping.png);">
  <div class="container">
    <h1>Welcome to <strong>Napbuddies</strong>!</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="cards-index-columns">
        <% @events.each do |event| %>
        <% if event.photo.attached? %>
        <div class="card card-index-sm" style="">
          <%= link_to " ", event_path(event), class: 'img-link' %>
          <%= cl_image_tag event.photo.key, width: "100%" %>
          <div class="card-body position-relative p-0">
            <h3><%= event.title %></h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <img class="avatar-card avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
        <% else %>
        <div class="card card-index-sm" style="">
          <%= link_to " ", event_path(event), class: 'img-link' %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-body position-relative p-0">
            <h3><%= event.title %></h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <img class="avatar-card avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="map-index">
        <h1>this is the map</h1>
      </div>
    </div>
  </div>
</div>