<div class="form-card">
  <%= simple_form_for @event do |f| %>
      <%= f.input :title %>
      <%= f.input :description, hint: "Describe where you are going to take a nap, what kind of buddy you're looking for, what kind of expectations you have, etc" %>
      <%= f.input :location %>
      <%= f.input :time %>
      <%= f.input :max_guest, label: 'Maximum number of guests', collection: (1..10) %>
      <%= f.input :host_spoon,
                  label: "You're preferred position",
                  as: :radio_buttons,
                  collection: [['no preference', 'No preference'], ['small spoon', 'Little Spoon'], ['middle spoon', 'Middle Spoon'], ['big spoon', 'Big Spoon']],
                  hint: "Imagine literal spoons!" %>
      <%= f.input :photo, as: :file, hint: "Upload photos of the place you're hosting the nap!" %>
      <div class="submit-button-wrap">
        <%= f.submit %>
      </div>
  <% end %>
</div>
