<div class="container min-height-90vh">
  <div class="card-description card-description-img">
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, class: "img-card" %>
    <% else %>
      <img src="https://source.unsplash.com/1100x300/?sleep,nap", class="img-card" alt="event picture">
    <% end %>
  </div>
  <div class="card card-description card-description-left">
    <% if policy(@event).book? %>
      <%= link_to "Book this event ", new_event_bookings_path(@event), class: 'btn btn-success' %>
    <% end %>
    <div class="card-body card-description-text-show">
      <h1 class="title-show"><%= @event.title %></h1>
      <p><span class="h5 font-weight-bold">Description: </span class="h5"></p>
      <p><%= @event.description %></p>
      <p><i class="fas fa-map-marked-alt icon"></i> <%= @event.location %></p>
      <p> <i class="far fa-calendar-alt icon"></i> <%= @event.time.strftime("%A %Y/%m/%d %H:%M") %></p>
      <p><i class="fas fa-users icon"></i> <%= @event.max_guest %></p>
      <p><i class="fas fa-id-badge icon"></i> <%= link_to profile_path(@user) do %>
          <%= @user.username&.capitalize %>
        <% end %>
        <p><i class="far fa-envelope icon"></i> <%= @user.email %> </p>
        <p><i class="fas fa-utensil-spoon icon"></i><%= @event.host_spoon %> </p>
      </div>
    </div>
  </div>
</div>
