<div class="d-flex flex-column align-items-center">
  <h1 class="title-show"><%= @event.title %></h1>
  <div class="container min-height-90vh">
    <div>
      <%# if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill, class: "img-card" %>
      <%# end %>
    </div>
    <div class="card card-description">
      <div class="card-body card-description-text">
        <h3>Location: </h3> <%= @event.location %>
        <h3>Time: </h3><%= @event.time %>
        <h3>Max guests: </h3><%= @event.max_guest %>
        <h3>Description: </h3><%= @event.description %>
        <h3>Host: </h3><%= @user.username %>
        <p> <%= @user.email %> </p>
        <p> <%= @event.host_spoon %> </p>
      </div>
    </div>
  </div>
</div>
