<div class="container">
  <ul class="nav tabs-underlined mt-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="active tab-underlined" id="home-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="home" aria-selected="true">Hosting Events</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="tab-underlined" id="profile-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="profile" aria-selected="false">Events You Booked</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="bookings" role="tabpanel" aria-labelledby="home-tab">
      <h1>Events You Are Hosting</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Location</th>
              <th scope="col">Time</th>
              <th scope="col">Number of requests</th>
            </tr>
          </thead>
          <tbody>
            <% @events_as_host.each_with_index do |event, index| %>
            <tr class="accordion-toggle collapsed" id="accordion<%= index %>" data-toggle="collapse" data-parent="#accordion<%= index %>" href="#collapse<%= index %>">
              <td class="expand-button"></td>
              <td scope="row"><%= index + 1 %></td>
              <td><%= event.title %></td>
              <td><%= event.location %></td>
              <td><%= event.time.strftime("%a %Y/%m/%d %H:%M") %></td>
              <td><%= event.bookings.count %></td>
            </tr>
            <tr class="hide-table-padding">
              <td></td>
              <td colspan="6">
                <div id="collapse<%= index %>" class="collapse in p-2 border-bottom">
                  <div class="row">
                    <div class="col-2 font-weight-bold">Username</div>
                    <div class="col-6 font-weight-bold">Preferred Position</div>
                  </div>
                </div>
                <% event.bookings.each do |booking| %>
                <div id="collapse<%= index %>" class="collapse in p-2 border-bottom">
                  <div class="row">
                    <%= link_to "#", class: "col-2" do %>
                    <div class="col-2"><%= booking.user.username %></div>
                    <% end %>
                    <div class="col-6"><%= booking.spoon %></div>
                    <% if booking.status == "pending" %>
                    <%= simple_form_for booking, remote: true do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'approved'} %>
                    <%= f.submit 'Accept', class: 'btn btn-info mr-3' %>
                    <% end %>
                    <%= simple_form_for booking, remote: true do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'declined'} %>
                    <%= f.submit 'Decline', class: 'btn btn-danger' %>
                    <% end %>
                    <% elsif booking.status == "declined" %>
                    <p class="p-2">Declined</p>
                    <% else %>
                    <p class="p-2">Approved</p>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade py-3" id="requests" role="tabpanel" aria-labelledby="profile-tab">
      <h1>Events You Booked</h1>
      <table class="table table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Time</th>
            <th scope="col">Booking Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- if the event is over and declined, it should not show up in the booking -->
          <!-- if the event is over and approved but havent reviewd, it should link a new review -->
          <!-- if the event is over and approved and reviewd, should not show up in the booking -->
          <!-- if the event is not over and approved should just show the booking with the status -->
          <!-- if the event is not over and pending should just show the booking with the status -->
          <% @bookings.each_with_index do |booking, index| %>
          <tr>
            <td scope="row"><%= index + 1 %></td>
            <!-- <#%= link_to new_event_path do %> -->
            <td><%= booking.event.title %></td>
            <!-- <#% end %> -->
            <td><%= booking.event.location %></td>
            <td><%= booking.event.time.strftime("%a %Y/%m/%d %H:%M") %></td>
            <% if booking.status == 'approved' && booking.event.time <= Time.now %>
            <td><%= link_to "Write a review", new_user_review_path(booking.event.user) %></td>
            <% else %>
            <td><%= booking.status %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
