<div class="container">
  <h1>Events You Are Hosting</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Location</th>
          <th scope="col">Time</th>
          <th scope="col">Number of requests</th>
        </tr>
      </thead>
      <tbody>
        <% @events_as_host.each_with_index do |event, index| %>
        <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
          <td class="expand-button"></td>
          <td scope="row"><%= index + 1 %></td>
          <td><%= event.title %></td>
          <td><%= event.location %></td>
          <td><%= event.time %></td>
          <td><%= event.bookings.count %></td>
        </tr>
        <tr class="hide-table-padding">
          <td></td>
          <td colspan="6">
            <div id="collapseOne" class="collapse in p-2 border-bottom">
              <div class="row">
                <div class="col-2">Username</div>
                <div class="col-6">Preferred Position</div>
              </div>
            </div>
            <% event.bookings.each do |booking| %>
            <div id="collapseOne" class="collapse in p-2 border-bottom">
              <div class="row">
                <%= link_to "#", class: "col-2" do %>
                <div class="col-2"><%= booking.user.username %></div>
                <% end %>
                <div class="col-6"><%= booking.spoon %></div>
                <% if booking.status == "pending" %>
                <%= link_to "Approve", "#", class: "btn btn-primary mr-3" %>
                <%= link_to "Decline", "#", class: "btn btn-danger" %>
                <% elsif booking.status == "declined" %>
                <p class="btn btn-light">Declined</p>
                <% else %>
                <p class="btn btn-success">Approved</p>
                <% end %>
              </div>
            </div>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h1>Events You Booked</h1>
    <table class="table table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Location</th>
          <th scope="col">Time</th>
          <th scope="col">Booking Status</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each_with_index do |booking, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <th><%= booking.event.title %></th>
          <th><%= booking.event.location %></th>
          <th><%= booking.event.time %></th>
          <th><%= booking.status %></th>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>



<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
      </tr>
    </thead>
    <tbody>
      <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
        <td class="expand-button"></td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>

      </tr>
      <tr class="hide-table-padding">
        <td></td>
        <td colspan="3">
          <div id="collapseOne" class="collapse in p-3">
            <div class="row">
              <div class="col-2">label</div>
              <div class="col-6">value 1</div>
            </div>
            <div class="row">
              <div class="col-2">label</div>
              <div class="col-6">value 2</div>
            </div>
            <div class="row">
              <div class="col-2">label</div>
              <div class="col-6">value 3</div>
            </div>
            <div class="row">
              <div class="col-2">label</div>
              <div class="col-6">value 4</div>
            </div>
          </div></td>
        </tr>
        <tr class="accordion-toggle collapsed" id="accordion2" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <td class="expand-button"></td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>

        </tr>
        <tr class="hide-table-padding">
          <td></td>
          <td colspan="4">
            <div id="collapseTwo" class="collapse in p-3">
              <div class="row">
                <div class="col-2">label</div>
                <div class="col-6">value</div>
              </div>
              <div class="row">
                <div class="col-2">label</div>
                <div class="col-6">value</div>
              </div>
              <div class="row">
                <div class="col-2">label</div>
                <div class="col-6">value</div>
              </div>
              <div class="row">
                <div class="col-2">label</div>
                <div class="col-6">value</div>
              </div>
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
